<%= render 'layouts/app_navigation' %>
<section>
  <div class="container">
        <h1>Register As A Mechanic</h1>

        <%= render 'form' %>
<hr>
<br>
        <%= link_to 'Back', mechanics_path, class: "btn btn-outline" %>
    </div>
</section>
