<%= render 'layouts/app_navigation' %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-align:left">Mechanic Name</h2>
      </div>
      <div class="col-md-6">
        <div class="mechanic-speciality">
          <span>Mechanic Speciality</span>
        </div>
        <div class=""
      </div>
      <div class="col-md-6">
        <div class="mechanic-price">
          <span>$100</span>
        </div>
        <div class="start-inspection">
          <a href="/inspections/new" class="btn btn-primary btn-circle">Start Inspection</a>
        </div>
        <div class="mechanic-contact">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</section>
  


<%= render 'layouts/footer' %>
