- unless user == current_user
  %td
    = link_to user.email, user
  %td
    - if user.mechanic?
      = link_to('Edit Mechanic', edit_mechanic_path(user.mechanic), class: 'button-xs')
    = link_to('Edit User', edit_user_path(user), class: 'button-xs')
  %td
    = link_to('Delete User', user, data: { confirm: "Are you sure?" }, method: :delete, class: 'button-xs')
