<body class="content-page"></body>
<%= render 'layouts/app_navigation' %>
<div class="container">
 <% content_for :title do %>About<% end %>
<h3>About InspectX</h3>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti porro voluptates laboriosam modi est ducimus sapiente qui rerum soluta quia quisquam perferendis atque recusandae fugit molestiae ad laborum, natus explicabo odio. Esse neque, asperiores quo.
</p>   

    
</div>

<%= render 'layouts/footer' %>
</body>

