%body.content-page
= render 'layouts/app_navigation'
.container
  - content_for :title do
    About
  %h3 About InspectX
  %p inspectX technicians use years of brand-specific experience to evaluate your car’s condition. After a terrible experience with a dealership inspection, we set out to make pre-purchase inspections simple, convenient, and meticulous.
  %p We want every used car buyer to love their new car. That’s why our inspections give you the info you need to find the perfect one. Experience inspectX-certified peace of mind before your next vehicle purchase.
    
= render 'layouts/footer'
