   <body class="appear-animate" id="terms">
      
        <%= render 'layouts/navigation' %>
<section>
<div class="container">
    <div class="row">
        </div>
        <div class="col-md-12">
        <h1 class="text-center">Terms of Use</h1>  
        <p>These Customer Terms and Conditions comprise the agreement (“Agreement”) between you and Service Marketplace Inc. (“inspectX”), a Delaware corporation, governing your use of our auto mechanic requesting service (the “Service”) available via www.inspect-x.com (the “Site”) and/or any of our mobile apps (each, an “App”).  Your checking of the “I Accept” box for this Agreement and/or your use of the Service indicate that you have agreed to this Agreement.  If you do not agree to all of the terms and conditions of this Agreement, please do not check the “I Accept” box or use the Service.</p>
        <h3>The Service</h3>
        <p>inspectX provides you with access to our network of independent auto mechanics through which you can schedule an appointment for one of these mechanics near you to travel to your home or place of work to inspect a vehicle that you may purchase.</p>
        <p>The mechanics in our network are independent contractors. However, inspectX stands behind the work performed by any mechanic from our network that you request through the Service, subject to certain conditions.</p>
        <h3>Registering with inspect X</h3>
        <p>You may create an account with InspectX at any time by registering on the Site or through one of our Apps. If you have not yet registered with InspectX when you submit your first Inspection Request (defined below), an account will be automatically created for you.</p>
        <p>When you register, you will be asked to confirm your contact information, including your name, email address and phone number, and to select a password, all of which is subject to our privacy policy. You represent and warrant that all of your account information is true and accurate, and you agree to update such information promptly to keep it current.</p>

        <h3>Scheduling an Inspection</h3>
        <p>To request an appointment with one of the mechanics in our network, search a location (ZIP code where your car is located) and the year/make/model of the vehicle (an “Inspection Request”). Your search will return a list of curated mechanics, with pricing, reviews, and certifications listed. You will be able to schedule an appointment for a pre-purchase inspection during a given technician’s reported free time. In addition, you will be asked to provide certain information about yourself, including your name, email address, and phone number, all of which is subject to our privacy policy.</p>
        <p>If you select a mechanic from the Service, you will be required to provide InspectX with a valid major credit card and billing information, after which we will validate the Inspection and your method of payment as described in more detail below. inspectX will honor the per-inspection price listed on the profile page of the mechanic whom you have hired.</p>

        <h3>Payment Terms</h3>
        <p>At the time you select a mechanic from the Service, InspectX will record your credit card number and billing information and validate your credit card.  You will be asked to authorize a charge to your credit card upon completion of the Inspection up to the total amount specified in the mechanic’s online profile.</p>
        <p>For each Inspection, a detailed inspection report, with findings and estimated repair prices, will be emailed directly to you. At this time, your payment method will also be charged in full.</p>

        <h3>Cancellations</h3>
        <p>You may cancel an Inspection scheduled through the Service for no charge at any time more than 24 hours prior to the scheduled start time for the Inspection. If you cancel within 24 hours of the scheduled start time for the Inspection, InspectX will charge your credit card a $40 cancellation fee.</p>

        <h3>Inspection Work Disclaimer</h3>
        <p>If you schedule an Inspection with one of the mechanics in our network, the mechanic will seek to identify any mechanical or cosmetic issues with the vehicle in question at the time of the inspection. A pre-purchase inspection speaks only to the present condition of the vehicle and cannot be used to predict future performance. inspectX is not liable for any unforeseen vehicle issues, mechanical or cosmetic, that occur outside of the Guarantee Window (see “Guarantee”).</p>

        <h3>Prohibited Actions; Termination </h3>
        <p>As a condition for your access to the Service, you agree not to make any separate payment or other arrangements with the mechanic who performs the Inspection. InspectX reserves the right to terminate your account for any failure by you to comply with the foregoing or any other terms of this Agreement.</p>
        <h3>Eligibility to Use the Service </h3>
        <p>The Service is not available to anyone under 16 years of age, or to any individual whose account has been terminated. Your account may not be used for auto inspection work to be performed for another person. If you submit an Inspection Request on behalf of a business entity, you hereby represent that you have the authority to bind such entity to this Agreement.</p>

        <h3>Intellectual Property</h3>
        <p>Subject to the terms and conditions of this Agreement, InspectX hereby grants to you a limited, non-exclusive, nontransferable right to access and use the Service, subject to the terms of this Agreement.</p>
        <p>You acknowledge that all of the intellectual property rights in the Service are owned by InspectX or its licensors. You shall not (i) reproduce, modify, publish, transmit, distribute, publicly perform or display, sell, or create derivative works based on the Service; or (ii) rent, lease, loan, or sell access to the Service. We reserve the right to modify, enhance, or discontinue the Service at any time.</p>
        <h3>Guarantee</h3>
        <p>Effective on the date the Inspection occurs, InspectX offers a 3-day quality guarantee. If you order a pre-purchase inspection from an inspectX mechanic and subsequently discover that the inspectX mechanic neglected to identify a major mechanical issue, as defined by inspectX, inspectX will refund your payment.</p>
        <p>Note: InspectX inspection reports include detailed photos that capture the mechanical and cosmetic condition of the vehicle in question at the time of inspection. Photos will be considered as evidence in any claims of neglect against an inspectX mechanic.
</p>
        <p>inspectX does not offer any guarantees of cosmetic integrity beyond the date and time of the inspection.</p>
        <p>In order to receive a refund, you must provide inspectX with a copy of an inspection report detailing the neglected mechanical issues. The inspection must come from a reputable repair shop, per inspectX’s definition, and must be dated less than 3 days after your inspectX inspection date.</p>
        <h3>Liability Insurance </h3>
        <p>InspectX carries commercial general liability insurance for Inspections performed through the mechanics in our network.</p>

        <h3>Disclaimers</h3>
        <p>INSPECTX SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTIES, INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-
INFRINGEMENT OF INTELLECTUAL PROPERTY. Some states do not allow the disclaimer of implied warranties, so the foregoing disclaimer may not apply to you.</p>

        <h3>Limitations of Liability</h3>
        <p>YOU ACKNOWLEDGE THAT ALL INSPECTION PROTOCOLS ARE PROVIDED BY MECHANICS, NOT BY INSPECTX. ACCORDINGLY, EXCEPT AS PROVIDED IN THE GUARANTEE, INSPECTX HAS NO RESPONSIBILITY OR LIABILITY FOR ANY SERVICES PROVIDED TO YOU BY SUCH MECHANICS.</p>
        <p>UNDER NO CIRCUMSTANCES WILL INSPECTX’S LIABILITY ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT AND ANY INSPECTION EXCEED THE AMOUNT INVOICED FOR SUCH INSPECTION. IN ADDITION, IN NO EVENT WILL INSPECTX BE LIABLE FOR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND, HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN AN ACTION FOR CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, WHETHER OR NOT INSPECTX HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE AND NOTWITHSTANDING THE FAILURE OF ESSENTIAL PURPOSE OF ANY REMEDY. The foregoing limitations shall apply to the maximum extent permitted by law and shall survive indefinitely.</p>

        <h3>Miscellaneous</h3>
        <p>Governing Law. The Agreement and the relationship between you and InspectX will be governed by the laws of the State of Delaware, without giving effect to any choice of laws principles that would require the application of the laws of a different country or state.</p>
        <p>Dispute Resolution.	Any claim or controversy between you and InspectX arising out of, or relating to, this Agreement shall be finally decided by arbitration in accordance with the Commercial Arbitration Rules of the American Arbitration Association by a single arbitrator appointed in accordance with such rules. Subject to any valid requirements of any applicable statute, any such arbitration shall be held in Charlotte, NC. During the course of any arbitration hereunder, each party will bear its own costs and attorneys’ fees, and share equally the arbitrator’s fees and expenses, except that the arbitrator shall award to the prevailing party all reasonable attorneys’ fees resulting directly or indirectly from such arbitration. The award rendered by the arbitrator shall be final, and judgment may be entered upon it at any court having jurisdiction. The arbitrator shall have the authority to award temporary, preliminary and permanent injunctive and equitable relief in the arbitration. Any arbitration hereunder will be confidential.</p>
        </div>
    </div>
</div>
</section>
<%= render 'layouts/footer' %>
</body>