/ Page Footer Start
%footer.page-footer
  .container.text-center
    / Social links
    .social-links
      %a{href: "#", target: "_blank", title: "Facebook"}
        %i.fa.fa-facebook
      %a{href: "#", target: "_blank", title: "Twitter"}
        %i.fa.fa-twitter
      %a{href: "#", target: "_blank", title: "Behance"}
        %i.fa.fa-behance
      %a{href: "#", target: "_blank", title: "Linkedin"}
        %i.fa.fa-linkedin
      %a{href: "#", target: "_blank", title: "Pinterst"}
        %i.fa.fa-pinterest
    .copy-right.mt-50
      %a.alt-font{href: "#"} © InspectX 2015
      %p= link_to 'Terms of Use', page_path('terms')
  %a.scroll.scroll-to-top{href: "#top"}
    %i.fa.fa-angle-up
/ Page footer end
