<!-- Navigation panel-->
    <nav class="main-nav white transparent stick-fixed js-transparent">
      <div class="full-wrapper relative clearfix">
        <!-- Logo-->
        <div class="nav-logo-wrap"><a href="/" class="logo">INSPECTX</a></div>
        <div class="navbar-mobile"><i class="fa fa-bars"></i></div>
        <!-- Main Menu-->
        <div class="inner-nav navbar-desktop">
          <ul class="clearlist scroll scroll-nav" style="max-height:806px;">
            <li class="active"><a href="#home">Home</a></li>
            <!-- End Item With Sub-->
            <li><a href="#about">About</a></li>
            <li><a href="#howitworks">How It Works</a></li>
            <li><a href="#mechanic">Find A Mechanic</a></li>
            <li><a href="#contacts">Contacts</a></li>
            <li><a>&nbsp;</a></li>
            <!--<li><a href="#"><i class="fa fa-phone"></i> 12-233-325-515</a></li> -->
            <li><%= render 'layouts/nav_links_for_auth' %></li>
          </ul>
        </div>
      </div>
    </nav>